* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.disin {
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;

    .zeros {
        display: flex;
        margin-top: 20px;
    }

    .zero-text {
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: rgb(255, 182, 0);
            }
        }

        p {
            max-width: 270px;
            color: #555;
        }
    }
}